<%- include("partials/header.ejs") %>

<div class="box container py-3">
    <form action="/submit" method="POST" class="d-flex flex-column align-items-center mt-3">
      <div class="w-100 text-center" id="header">
        <label for="movieName" class=" mb-3 fs-3 fw-bold">Enter name of the movie</label>
      </div>
      <div class="d-flex align-items-center justify-content-center mb-3">
        <input type="text" name="movieName" id="movieName" placeholder="Eg. The Pianist" class="form-control mx-2" required>
        <input type="submit" value="OK" class="btn btn-primary" id="submit-button">
      </div>
    </form>

    <hr />
  
  <div class="container mt-4 mb-3">
    <% if (locals.mName) { %>
      <ul class="nav flex-column-reverse">
        <% mName.forEach(element => { %>
          <li class="nav-item mb-2 d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex align-items-center">
              <input type="checkbox" class="form-check-input mx-2 movie-checkbox">
              <span class="fs-5 movie-name">
                <%= element %>
              </span>
            </div>
            <div class="d-flex align-items-center">
              <form action="/delete" method="POST">
                <input type="hidden" name="movieName" value="<%= element %>">
                <button type="submit" class="btn delete-button">
                  <i class="fa-regular fa-trash-can fs-5"></i>
                </button>
              </form>
            </div>
          </li>          
        <% }); %>
      </ul>
    <% } else { %>
      <p class="text-center">No items to display</p>
    <% } %>
  </div>  
</div>

<%- include("partials/footer.ejs") %>